img{
  width: 100%;
}

body {
  overflow: hidden;
}

.title{
  position: fixed;
  left: 50%;
  transform:translateX(-50%) scale(0.2);
  bottom: 0;
  z-index: 10000;
  pointer-events: none;
}
.section01 {
  position: relative;
  background-color: black;
  overflow: hidden;
  height: 800vh;
  /* height: 4200px; */
}

.fix_section {
  height: 200vh;
}
.section01 .card_container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  width: 326px;
  height: 285px;
  /* align-items: center; */
  /* width: 2282px; */
  /* display: flex; */

  li {
    flex-shrink: 0;
    flex-grow: 1;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.scene02{
  padding-top: 50rem;
}
.scene02 .text{
  text-align: center;
  width: fit-content;
  margin: 0 auto 80rem;
  
}


.category{
  width: 500px;
  height: 500px;
  background-color: green;
  margin: 0 auto;
}


.aboutme {
  width: 100vw;
  position: relative;

  .title{
    transform:scale(0.2)
  }

  .sub{
    width: 10%;
  }

  .text{
    width: 50%;
    position: absolute;
    left: 50%;
    top: 90%;
    translate:-50% -50%;
    .title{
      transform:scale(1)
    }
  }

}



.keyword {
  position: absolute;
  left: 50%;
  top: 55%;
  translate: -50% 0;
  width: auto;
}

.color {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.color img {
  width: auto;
}



.section02 {
  position: relative;
  height: 300vh;

  .bg_text{
    transform:scale(1)
  }

  .img{
    position: absolute;
    left: 50%;
    top: 10%;
    translate:-50% 0;
    width: 90%;
  }
}



.career img:nth-child(1) {
  position: absolute;
  left: 50%;
  top: 57%;
  translate: -50% -50%;
  width: 100%;
  height: auto;
}

.career_text img:nth-child(1) {
  position: absolute;
  left: 5%;
  top: 44%;
  translate: 0% -50%;
  width: 5%;
}

.career_text img:nth-child(2) {
  position: absolute;
  left: 77%;
  top: 44%;
  translate: 0% -50%;
  width: 20%;
}

.fourcompany img:nth-child(1) {
  position: absolute;
  width: auto;
  left: 10%;
  top: 48%;
}

.fourcompany img:nth-child(2) {
  position: absolute;
  width: auto;
  left: 24%;
  top: 47%;
}

.fourcompany img:nth-child(3) {
  position: absolute;
  width: auto;
  left: 24%;
  top: 48%;
}

.fourcompany img:nth-child(4) {
  position: absolute;
  width: auto;
  left: 34%;
  top: 49%;
}

.fourcompany img:nth-child(5) {
  position: absolute;
  width: auto;
  left: 34%;
  top: 47%;
}

.fourcompany .fourcompany_1234 {
  position: absolute;
  width: auto;
  left: 60%;
  top: 47%;
}

.mediquitous img:nth-child(1) {
  position: absolute;
  width: auto;
  left: 10%;
  top: 53%;
}

.mediquitous img:nth-child(2) {
  position: absolute;
  width: auto;
  left: 24%;
  top: 52%;
}

.mediquitous img:nth-child(3) {
  position: absolute;
  width: auto;
  left: 17%;
  top: 53%;
}

.mediquitous img:nth-child(4) {
  position: absolute;
  width: auto;
  left: 34%;
  top: 51%;
}

.mediquitous img:nth-child(5) {
  position: absolute;
  width: auto;
  left: 34%;
  top: 53%;
}

.mediquitous .mediquitous_1234 {
  position: absolute;
  width: auto;
  left: 60%;
  top: 52%;
}

.btg img:nth-child(1) {
  position: absolute;
  width: auto;
  left: 10%;
  top: 57%;
}

.btg img:nth-child(2) {
  position: absolute;
  width: auto;
  left: 24%;
  top: 56%;
}

.btg img:nth-child(3) {
  position: absolute;
  width: auto;
  left: 17%;
  top: 57%;
}

.btg img:nth-child(4) {
  position: absolute;
  width: auto;
  left: 34%;
  top: 55%;
}

.btg img:nth-child(5) {
  position: absolute;
  width: auto;
  left: 34%;
  top: 58%;
}

.btg .btg_1234 {
  position: absolute;
  width: auto;
  left: 60%;
  top: 57%;
}

.bonne img:nth-child(1) {
  position: absolute;
  width: auto;
  left: 10%;
  top: 61.5%;
}

.bonne img:nth-child(2) {
  position: absolute;
  width: auto;
  left: 24%;
  top: 60.5%;
}

.bonne img:nth-child(3) {
  position: absolute;
  width: auto;
  left: 17%;
  top: 61.5%;
}

.bonne img:nth-child(4) {
  position: absolute;
  width: auto;
  left: 34%;
  top: 60%;
}

.bonne img:nth-child(5) {
  position: absolute;
  width: auto;
  left: 34%;
  top: 62%;
}

.bonne .bonne_1234 {
  position: absolute;
  width: auto;
  left: 60%;
  top: 61%;
}

.dk img:nth-child(1) {
  position: absolute;
  width: auto;
  left: 10%;
  top: 66%;
}

.dk img:nth-child(2) {
  position: absolute;
  width: auto;
  left: 24%;
  top: 65%;
}

.dk img:nth-child(3) {
  position: absolute;
  width: auto;
  left: 17%;
  top: 66%;
}

.dk img:nth-child(4) {
  position: absolute;
  width: auto;
  left: 34%;
  top: 64.5%;
}

.dk img:nth-child(5) {
  position: absolute;
  width: auto;
  left: 34%;
  top: 66%;
}

.dk .dk_1234 {
  position: absolute;
  width: auto;
  left: 60%;
  top: 65%;
}

.section03 {
  height: 200vh;
  position: relative;
}

.promotion img:nth-child(1) {
  position: absolute;
  left: 50%;
  top: 30%;
  translate: -50% -50%;
}

/* .promotion img:nth-child(2) {
  width: 36%;
  position: absolute;
  left: 50%;
  top: 4.2%;
  translate: -50% -50%;
}

.promotion img:nth-child(3) {
  width: 20%;
  position: absolute;
  left: 16%;
  top: 4.2%;
  translate: -50% -50%;
} */

.micro img:nth-child(1) {
  position: absolute;
  left: 50%;
  top: 30%;
  translate: -50% -50%;
}

/* .micro img:nth-child(2) {
  width: 22%;
  position: absolute;
  left: 50%;
  top: 17%;
  translate: -50% -50%;
}

.micro img:nth-child(3) {
  width: 23%;
  position: absolute;
  left: 16%;
  top: 17%;
  translate: -50% -50%;
} */

.website img:nth-child(1) {
  position: absolute;
  left: 50%;
  top: 40%;
  translate: -50% -50%;
}

/* .website img:nth-child(2) {
  width: 22%;
  position: absolute;
  left: 50%;
  top: 27.5%;
  translate: -50% -50%;
}

.website img:nth-child(3) {
  width: 23%;
  position: absolute;
  left: 16%;
  top: 27.5%;
  translate: -50% -50%;
} */

.mobileapp img:nth-child(1) {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

/* .mobileapp img:nth-child(2) {
  width: 42%;
  position: absolute;
  left: 50%;
  top: 38.3%;
  translate: -50% -50%;
}

.mobileapp img:nth-child(3) {
  width: 20%;
  position: absolute;
  left: 16%;
  top: 38%;
  translate: -50% -50%;
} */

.portfolio img:nth-child(1) {
  position: absolute;
  left: 50%;
  top: 60%;
  translate: -50% -50%;
}

/* .portfolio img:nth-child(2) {
  width: 38%;
  position: absolute;
  left: 50%;
  top: 48%;
  translate: -50% -50%;
}

.portfolio img:nth-child(3) {
  width: 20%;
  position: absolute;
  left: 16%;
  top: 48%;
  translate: -50% -50%;
} */


