img{
  width: 100%;
}

body {
  overflow: hidden;
}

.section01 {
  position: relative;
  background-color: black;
  overflow: hidden;
  /* height: 4200px; */
}

.fix_section {
  height: 200vh;
}

.section01 .card_container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 55%;
  align-items: center;
  width: 2282px;
  display: flex;

  li {
    flex-shrink: 0;
    flex-grow: 1;
  }
}

.section1-1 {
  position: relative;
  height: 600vh;

  .aboutme {
    width: 100vw;
    position: relative;
  
    .title{
      transform:scale(0.2)
    }
  
    .text{
      width: 50%;
      position: absolute;
      left: 50%;
      top: 90%;
      transform: translate(-50%, 0);
    }
  
  }

  .keyword {
    position: absolute;
    left: 50%;
    top: 35%;
    translate: -50% 0;
    width: 20%;
  }
  
  .color {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 70%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;  
  }

}



.section02 {
  position: relative;
  height: 800vh;
  background-color: #fff;

  .bg_text{
    transform:scale(1)
  }

  .img6{
    position: absolute;
    left: 50%;
    top: 40%;
    translate:-50% 0;
    width: 90%;
  }

  .career_list{
    .line{
      position: absolute;
      left: 50%;
      top: 80%;
      translate: -50% -50%;
      width: 96%;
    }

    .career_text{
      position: absolute;
      left: 8.1%;
      top: 71.3%;
      translate: -50% -50%;
      width: 5.5%;
         }

    .career_2018{
      position: absolute;
      right: -3.5%;
      top: 70.8%;
      translate: -50% 0;
      width: 18%;
    }
         
    } 

      
        .yumi{
          position: absolute;
          top: 72.05%;
          left: 5%;
          width: auto;
        }

        .period_202408{
          position: absolute;
          top: 72.2%;
          left: 20%;
          width: auto;
        }

        .period_ing{
          position: absolute;
          top: 72.9%;
          left: 25%;
          width: auto;
        }

        .fourcompany{
          position: absolute;
          top: 72.2%;
          left: 35%;
          width: auto;
        }

        .period_6month{
          position: absolute;
          top: 74.2%;
          left: 35%;
        }

        .fourcompany_1234{
          position: absolute;
          top: 72.2%;
          left: 60%;
        }


        .rank{
          position: absolute;
          top: 74.3%;
          right: 29%;
        }
    }

  



/* .mediquitous img:nth-child(1) {
  position: absolute;
  width: auto;
  left: 10%;
  top: 53%;
}

.mediquitous img:nth-child(2) {
  position: absolute;
  width: auto;
  left: 24%;
  top: 52%;
}

.mediquitous img:nth-child(3) {
  position: absolute;
  width: auto;
  left: 17%;
  top: 53%;
}

.mediquitous img:nth-child(4) {
  position: absolute;
  width: auto;
  left: 34%;
  top: 51%;
}

.mediquitous img:nth-child(5) {
  position: absolute;
  width: auto;
  left: 34%;
  top: 53%;
}

.mediquitous .mediquitous_1234 {
  position: absolute;
  width: auto;
  left: 60%;
  top: 52%;
}

.btg img:nth-child(1) {
  position: absolute;
  width: auto;
  left: 10%;
  top: 57%;
}

.btg img:nth-child(2) {
  position: absolute;
  width: auto;
  left: 24%;
  top: 56%;
}

.btg img:nth-child(3) {
  position: absolute;
  width: auto;
  left: 17%;
  top: 57%;
}

.btg img:nth-child(4) {
  position: absolute;
  width: auto;
  left: 34%;
  top: 55%;
}

.btg img:nth-child(5) {
  position: absolute;
  width: auto;
  left: 34%;
  top: 58%;
}

.btg .btg_1234 {
  position: absolute;
  width: auto;
  left: 60%;
  top: 57%;
}

.bonne img:nth-child(1) {
  position: absolute;
  width: auto;
  left: 10%;
  top: 61.5%;
}

.bonne img:nth-child(2) {
  position: absolute;
  width: auto;
  left: 24%;
  top: 60.5%;
}

.bonne img:nth-child(3) {
  position: absolute;
  width: auto;
  left: 17%;
  top: 61.5%;
}

.bonne img:nth-child(4) {
  position: absolute;
  width: auto;
  left: 34%;
  top: 60%;
}

.bonne img:nth-child(5) {
  position: absolute;
  width: auto;
  left: 34%;
  top: 62%;
}

.bonne .bonne_1234 {
  position: absolute;
  width: auto;
  left: 60%;
  top: 61%;
}

.dk img:nth-child(1) {
  position: absolute;
  width: auto;
  left: 10%;
  top: 66%;
}

.dk img:nth-child(2) {
  position: absolute;
  width: auto;
  left: 24%;
  top: 65%;
}

.dk img:nth-child(3) {
  position: absolute;
  width: auto;
  left: 17%;
  top: 66%;
}

.dk img:nth-child(4) {
  position: absolute;
  width: auto;
  left: 34%;
  top: 64.5%;
}

.dk img:nth-child(5) {
  position: absolute;
  width: auto;
  left: 34%;
  top: 66%;
}

.dk .dk_1234 {
  position: absolute;
  width: auto;
  left: 60%;
  top: 65%;
} */






.section03 {
  height: 600vh;
  position: relative;
  background-color: #050505;


.promotion img:nth-child(1) {
  position: absolute;
  left: 50%;
  top: 30%;
  translate: -50% -50%;
}


.micro img:nth-child(1) {
  position: absolute;
  left: 50%;
  top: 45%;
  translate: -50% -50%;
}


.website img:nth-child(1) {
  position: absolute;
  left: 50%;
  top: 60%;
  translate: -50% -50%;
}


.mobileapp img:nth-child(1) {
  position: absolute;
  left: 50%;
  top: 75%;
  translate: -50% -50%;
}


.portfolio img:nth-child(1) {
  position: absolute;
  left: 50%;
  top: 90%;
  translate: -50% -50%;
}
}



