img{
  width: 100%;
}

body {
  overflow: hidden;
}


.title{
  position: fixed;
  left: 50%;
  transform:translateX(-50%) scale(0.2);
  bottom: -1%;
  width: 36%;
  z-index: 10000;
  pointer-events: none;
}

.section01 {
  position: relative;
  background-color: black;
  overflow: hidden;
  height: 1000vh;
  /* height: 4200px; */
}

.fix_section {
  height: 200vh;
}
.section01 .card_container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 7%;
  width: 326px;
  height: 285px;
  /* align-items: center; */
  /* width: 2282px; */
  /* display: flex; */

  li {
    flex-shrink: 0;
    flex-grow: 1;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.scene02{
  padding-top: 50rem;
}
.scene02 .text{
  text-align: center;
  /* width: fit-content; */
  width: 50%;
  margin: 0 auto 80rem;
  
}


.category{
  width: 100vw;
  height: 100vh;
  /* background-color: green; */
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  list-style: none;
  
}

/* .float{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  
  
} */



.body {
  position: relative;

  .title{
    transform:scale(0.2)
  }


  .text{
    width: 30%;
    position: absolute;
    left: 50%;
    top: 120%;
    translate:-50% -50%;
    .title{
      transform:scale(1)
    }
  }

}

.section1-1{
  background-color: #050505;
  height: 200vh;
  padding-bottom: 300px;
}

.keyword {
  position: absolute;
  left: 50%;
  top: 55%;
  translate: -50% 0;
  width: auto;
}

.color {
  position: absolute;
  left: 50%;
  top: 10%;
  translate:-50% 0;
  display: flex;
  gap: 20px;
  width: 90%;
}

.color > li{
  opacity: 0;
  filter: blur(5px);
  transform:translateY(200px)
}


.color > li:nth-child(2){
  margin-top: 16rem;
}


.color > li:nth-child(3){
  margin-top: 2rem;
}


.color > li:nth-child(4){
  margin-top: 20rem;
}


.color > li:nth-child(5){
  margin-top: 3rem;
}





.section02 {
  position: relative;
  height: 720vh;
  background-color: #fff;


  .img_6{
    position: absolute;
    left: 50%;
    top: 50%;
    translate:-50% -50%;
    width: 90%;
  }
}


.career_container{
  .career_text{
    position: absolute;
    width: auto;
    top: 5690px;
    left: 80px;
  }

  .career_date{
    position: absolute;
    width: auto;
    top: 5640px;
    right: 80px;
  }
}


.career{
  width: 100vw;
  position: relative;
  left: 0;
  bottom: 0;
  margin-top: 300px;
  

  ul{

    li{

      display: flex;
      border-top: 1px solid black;
      border-bottom: 1px solid black;

      .left{
        flex: 1;
        height: 280px;
        border-right: 1px solid black;
      }

      .right{
        flex: 2;
        height: 280px;
      }
    }
  }
}




.career .left_01{
  .fc_img {
    position: absolute;
    width: auto;
    left: 80px;
    top: 52px;
  }
  
  
  .fc_202408 {
    position: absolute;
    width: auto;
    left: 400px;
    top: 58px;
  }
  
  
  .fc_ing {
    position: absolute;
    width: auto;
    left: 476px;
    top: 109px;
  }
}


.section02 .career .right_01{

  .fourcompany {
    position: absolute;
    width: auto;
    left: 706px;
    top: 58px;
  }
  
  
  .fc_6month {
    position: absolute;
    width: auto;
    left: 706px;
    top: 201px;
  }

  .fourcompany_01{
    position: absolute;
    width: auto;
    left: 1300px;
    top: 50px;
  }

  .fourcompany_02{
    position: absolute;
    width: auto;
    left: 1300px;
    top: 92px;
  }

  .fourcompany_03{
    position: absolute;
    width: auto;
    left: 1300px;
    top: 132px;
  }

  .fourcompany_04{
    position: absolute;
    width: auto;
    left: 1300px;
    top: 172px;
  }

  .fc_rank {
    position: absolute;
    width: auto;
    left: 1300px;
    top: 222px;
  }
}


.section02 .career .left_02{
  .mq_img {
    position: absolute;
    width: auto;
    left: 80px;
    top: 342px;
  }


  .mq_202203 {
    position: absolute;
    width: auto;
    left: 400px;
    top: 342px;
  }
  
  
  .mq_202408 {
    position: absolute;
    width: auto;
    left: 375px;
    top: 397px;
  }

    .fourcompany {
    position: absolute;
    width: auto;
    left: 706px;
    top: 58px;
  }
  
  
  .month_6 {
    position: absolute;
    width: auto;
    left: 706px;
    top: 201px;
  }
}


.section02 .career .right_02{

  .mediquitous {
    position: absolute;
    width: auto;
    left: 706px;
    top: 342px;
  }
  
  
  .mq_2year {
    position: absolute;
    width: auto;
    left: 706px;
    top: 491px;
  }


  .mediquitous_01{
    position: absolute;
    width: auto;
    left: 1300px;
    top: 342px;
  }

  .mediquitous_02{
    position: absolute;
    width: auto;
    left: 1300px;
    top: 382px;
  }

  .mediquitous_03{
    position: absolute;
    width: auto;
    left: 1355px;
    top: 422px;
  }

  .mediquitous_04{
    position: absolute;
    width: auto;
    left: 1300px;
    top: 462px;
  }

  .mq_rank{
    position: absolute;
    width: auto;
    left: 1300px;
    top: 512px;
  }
}



.section02 .career .left_03{
  .btg_img {
    position: absolute;
    width: auto;
    left: 80px;
    top: 642px;
  }
  
  
  .btg_202108 {
    position: absolute;
    width: auto;
    left: 400px;
    top: 645px;
  }
  
  
  .btg_202201 {
    position: absolute;
    width: auto;
    left: 375px;
    top: 700px;
  }
}


.career .right_03{

  .btg {
    position: absolute;
    width: auto;
    left: 706px;
    top: 640px;
  }
  
  
  .btg_6month {
    position: absolute;
    width: auto;
    left: 706px;
    top: 780px;
  }

  .btg_01{
    position: absolute;
    width: auto;
    left: 1300px;
    top: 640px;
  }

  .btg_02{
    position: absolute;
    width: auto;
    left: 1300px;
    top: 680px;
  }

  .btg_03{
    position: absolute;
    width: auto;
    left: 1312px;
    top: 720px;
  }

  .btg_rank {
    position: absolute;
    width: auto;
    left: 1300px;
    top: 774px;
  }
}



.section02 .career .left_04{
  .tis_img {
    position: absolute;
    width: auto;
    left: 80px;
    top: 942px;
  }
  
  
  .tis_202012 {
    position: absolute;
    width: auto;
    left: 400px;
    top: 945px;
  }
  
  
  .tis_202108 {
    position: absolute;
    width: auto;
    left: 375px;
    top: 1000px;
  }
}


.career .right_04{

  .bonne {
    position: absolute;
    width: auto;
    left: 706px;
    top: 940px;
  }
  
  
  .bonne_9month {
    position: absolute;
    width: auto;
    left: 706px;
    top: 1080px;
  }

  .bonne_01{
    position: absolute;
    width: auto;
    left: 1300px;
    top: 940px;
  }

  .bonne_02{
    position: absolute;
    width: auto;
    left: 1300px;
    top: 980px;
  }

  .bonne_03{
    position: absolute;
    width: auto;
    left: 1300px;
    top: 1020px;
  }

  .bonne_04{
    position: absolute;
    width: auto;
    left: 1300px;
    top: 1060px;
  }

  .bonne_rank {
    position: absolute;
    width: auto;
    left: 1300px;
    top: 1110px;
  }
}



.section02 .career .left_05{
  .dk_img {
    position: absolute;
    width: auto;
    left: 80px;
    top: 1242px;
  }
  
  
  .dk_201803 {
    position: absolute;
    width: auto;
    left: 400px;
    top: 1242px;
  }
  
  
  .dk_202004 {
    position: absolute;
    width: auto;
    left: 375px;
    top: 1297px;
  }
}


.career .right_05{

  .dk {
    position: absolute;
    width: auto;
    left: 706px;
    top: 1242px;
  }
  
  
  .dk_2year {
    position: absolute;
    width: auto;
    left: 706px;
    top: 1382px;
  }

  .dk_01{
    position: absolute;
    width: auto;
    left: 1300px;
    top: 1242px;
  }

  .dk_02{
    position: absolute;
    width: auto;
    left: 1300px;
    top: 1282px;
  }

  .dk_03{
    position: absolute;
    width: auto;
    left: 1300px;
    top: 1322px;
  }

  .dk_rank {
    position: absolute;
    width: auto;
    left: 1300px;
    top: 1377px;
  }
}









.section03 {
  height: 600vh;
  background-color: #050505;
}


